In [ ]:
# Import dependencies

import pandas as pd
import requests
import numpy as np
import json
import os
import re
from sqlalchemy import create_engine
from config import db_password
import time

In [ ]:
# Assign variable to JSON file location

file_dir = os.path.join("Resources")

In [ ]:
# Load JSON into list of dictionaries

with open(f"{file_dir}/wikipedia-movies.json", mode = "r") as file:
    wiki_movies_raw = json.load(file)

In [ ]:
# Checking the length of Wiki movies list

len(wiki_movies_raw)

In [ ]:
# First 5 records

wiki_movies_raw[:5]

In [ ]:
# Import Kaggle Data

kaggle_metadata = pd.read_csv(f"{file_dir}/movies_metadata.csv", low_memory = False)

ratings = pd.read_csv(f"{file_dir}/ratings.csv", low_memory = False)

In [ ]:
# Preview Metadata DataFrame

kaggle_metadata.head()

In [ ]:
# Preview Ratings DataFrame

ratings.head()

In [ ]:
# Convert Wikipedia Data into an initial DataFrame


wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [ ]:
# Preview the DataFrame

wiki_movies_df.head()

In [ ]:
# View the DF columns in list format 

wiki_movies_df.columns.tolist()

In [ ]:
# Using list comprehension to get movies that have a director and an IMBD link

wiki_movies = [movie for movie in wiki_movies_raw if ("Director" in movie or "Directed by" in movie) 
               and "imdb_link" in movie 
               and "No. of episodes" not in movie]

len(wiki_movies)

In [ ]:
# Updating the DataFrame

wiki_movies_df = pd.DataFrame(wiki_movies)

In [ ]:
# Function for creating clean copy of movies

def clean_movie(movie):
    movie = dict(movie) # Create a non-destructive copy
    alt_titles = {}
    alt_titles_list = ["Also known as", "Arabic", "Cantonese", "Chinese", "French", "Hangul", 
                  "Hebrew", "Hepburn", "Japanese", "Literally", "Mandarin", 
                  "McCuneâ€“Reischauer", "Original title", "Polish",  "Revised Romanization", 
                  "Romanized", "Russian", "Simplified", "Traditional", "Yiddish"]
    for alts in alt_titles_list:
        if alts in movie:
            alt_titles[alts] = movie[alts]
            movie.pop(alts)
    if len(alt_titles) > 0:
        movie["alt_titles"] = alt_titles
        
    # Merge column names using pop(), which removes old key and extracts value.
    
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
            
    return movie

In [ ]:
# Inspecting languates

wiki_movies_df[wiki_movies_df["Arabic"].notnull()]

In [ ]:
# Make a list of cleaned movies with a list comprehension

clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [ ]:
# Making DataFrame from above list

wiki_movies_df = pd.DataFrame(clean_movies)

In [ ]:
# Reviewing columns in updated DF

sorted(wiki_movies_df.columns.tolist())

In [ ]:
wiki_movies_df.head()

In [ ]:
# Use Regex to find and populate imdb IDs

wiki_movies_df["imdb_id"] = wiki_movies_df["imdb_link"].str.extract(r'(tt\d{7})')

print(len(wiki_movies_df))

wiki_movies_df.drop_duplicates(subset = "imdb_id", inplace = True)

print(len(wiki_movies_df))

wiki_movies_df.head()

In [ ]:
# Check for NaN values using list comprehension
# We are keeping all columns that, in the aggregate, have null values that are less than 90% of the number of rows in the DF

wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [ ]:
# Preview the DF

wiki_movies_df.head()

In [ ]:
# Determine Column Types

wiki_movies_df.dtypes

In [ ]:
# Drop null values in the Box Office Column

box_office = wiki_movies_df['Box office'].dropna()

In [ ]:
# Create function for outputting values that are not strings
# Apply to Box Office series 

box_office[box_office.map(lambda x: type(x) != str)]

In [ ]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
box_office

In [ ]:
# Create variables for the Box Office Forms

form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [ ]:
# Determine how many Box Office values fall into form one

box_office.str.contains(form_one, flags = re.IGNORECASE, na = False).sum()

In [ ]:
# Determine how many Box Office values fall into form two

box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

In [ ]:
# Create Booleans to determine how many values don't match either form

matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [ ]:
# Figuring out how many values exclude the above criteria

box_office[~matches_form_one & ~matches_form_two]

In [ ]:
# Replace values

box_office = box_office.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

box_office.str.extract(f'({form_one}|{form_two})')

In [ ]:
# Create a function to parse through box office 

def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [ ]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
wiki_movies_df["box_office"].head(10)

In [ ]:
# Dropping the old Box Office Column:

wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [ ]:
# Dropping NaN values in Budget

budget = wiki_movies_df['Budget'].dropna()

In [ ]:
# Convert list into strings

budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# Apply previous form variables

matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)

budget[~matches_form_one & ~matches_form_two]

In [ ]:
# Remove citations

budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# Parse through budget column and convert to floats

wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [ ]:
# Drop original budget column

wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [ ]:
# Join lists for release date

release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# Variables for parsing the date

date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [ ]:
# Extract Dates

release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
# Parse the dates and create proper format using inbuilt Pandas function

wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [ ]:
# Making variable for parsing run time

running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# Review the occurrence of the most common time format

running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# Determine what the other formats looks like

running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# Modify the occurence to include an abbrevation of minutes

running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# Determine what other formats look like

running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# Extract Values

running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [ ]:
# Convert strings to numeric format

running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

running_time_extract

In [ ]:
# Add to DataFrame

wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
# Drop running time (old version)

wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
wiki_movies_df

In [ ]:
# Review Kaggle Data Types

kaggle_metadata.dtypes

In [ ]:
# Determine types for adult column

kaggle_metadata['adult'].value_counts()

In [ ]:
# Excluding all values that are properly true and false to evaluate

kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# Keep only the non-adult movies that are defined FALSE

kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
# Review types for video column

kaggle_metadata['video'].value_counts()

In [ ]:
# Convert video column to Boolean

kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
# Convert data types

kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
# Convert release date to date time using Pandas function

kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# Get additional details pertaining to the ratings column

ratings.info(null_counts=True)

In [ ]:
# Convert ratings timestamp from unix to standard format

ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# Get statistical information on ratings column

pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [ ]:
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
movies_df.head()

In [ ]:
# Get titles that don't match to help determine which is better

movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# Show any rows where title_kaggle is empty

movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [ ]:
# Create scatterplot to compare run times in merged DF

movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
# Create scatterplot to compare budget in merged DF

movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
# Create scatterplot to compare revenue in merged DF

movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# Create for everything over a billion to obtain a better vantage point

movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# Create line plot comparing releast dates to determine better data set

movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
# Look for any movie whose release date according to Wikipedia is after 1996, but whose release date according to Kaggle is before 1965.

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
# Obtain index of outlier

movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
# Drop outlier

movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
# Check release date for null values

movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
# Convert language column that has lists to tuples (since we can't read as lists)

movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
# Kaggle language data

movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# Take a look at production companies

movies_df[['Production company(s)','production_companies']]

In [ ]:
# Drop certain wikipedia columns that are less than ideal

movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# Write function that fills in (where possible) missing Kaggle values with Wikipedia values

def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# Use aforementioned function

fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')

movies_df

In [ ]:
# Check to see if there are any columns that have only one value
# NOTE: LISTS MUST BE CONVERTED TO TUPLES IN ORDER FOR VALUE COUNTS TO WORK

for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
movies_df['video'].value_counts(dropna=False)

In [ ]:
# Re-Arrange Columns

movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [ ]:
# Rename columns for consistency

movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
# Use a groupby on the "movieId" and "rating" columns and take the count for each group.
# Rename User ID column
# Pivot so that Index becomes the movieID, columns become rating, and values equals count

rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
# Merge ratings and movies DFs

movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
# Fill in missing values

movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
# Local server connection string

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [ ]:
# Create the database engine

engine = create_engine(db_string)

In [ ]:
# Import movies to SQL

movies_df.to_sql(name='movies', con=engine)

In [ ]:
# Adding Ratings to SQL

# create a variable for the number of rows imported
rows_imported = 0

# get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv(f'{file_dir}/ratings.csv', chunksize=1000000):

    # print out the range of rows that are being imported
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

    data.to_sql(name='ratings', con=engine, if_exists='append')

    # increment the number of rows imported by the size of 'data'
    rows_imported += len(data)

    # print that the rows have finished importing
    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')